body {
  font-size: 12px !important;
  color: #455a64;
  /* font-family: Georgia, 'Times New Roman', Times, serif !important; */
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.appTitle{
  color: rgb(62, 146, 121);
  font-size: 1.5em;
  font-weight: bolder;
}

.guideline{
  color: red;
  font-size: 1.2em;
  font-weight: bolder;
  margin:0;
}

body {
font-size: 12px !important;
color: #455a64;
  /* font-family: Georgia, 'Times New Roman', Times, serif !important; */
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.p-10{
  padding: 10px !important;
}

.p-20{
  padding: 20px !important;
}

.el-right{
  border-left: 2px solid #f1f1f1;
  padding-left: 20px;
}

.btn-p-5{
  padding: 5px !important;
}

.footer-mark{
  color:#ccc;
  font-size: 9px;
}

.inlineform{
  display: inline-block !important;
}

.navtab{ 
  padding: 15px;
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #fff;
  border-color: #00bcd4;
  color: #00bcd4 !important;
  padding: 5px 10px;
  font-size: 9px !important;

}



  .___dataTable____{
      border: 1px solid #000;
      font-size: 12px;
  }

  .___dataTable____ tr, td{
      border: 1px solid #000;
  }

  .text-black{
      color: #000;
  }
  .text-success{
      font-weight: bolder !important;
  }


  .text-center{
    text-align: center;
  }

  .text-right{
    text-align: right;
  }


  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 20px;
}